/* Small Devices */
@media only screen and (max-width: 767px) {

.body{
	text-align: center
}
.img-header img{
	padding-top: 50px;
}

[data-aos^=fade][data-aos^=fade].aos-animate{
	padding-top: 50px;
}

.about-div-icon{
	display: none;
	position: absolute
}

.about-body hr{
	margin: auto
}

.about-text-right{
	padding-left: 0px;
	padding-bottom: 50px;
}

.div-icon-left{
	display: none;
}
.div-icon-right{
	display: none
}

.div-text-left{
	text-align: center;
	padding: 0px;
}

.div-text-right{
	text-align: center;
	padding: 0px;
}
.btnbtn{
	padding-top: 20px;
}

[data-aos^=fade][data-aos^=fade].aos-animate{
	padding-top: 10px;
}

.icon-Available a{
	border: none;
}


















}
/* Small Devices And Tablets */
@media only screen and (max-width: 768px) {
    

}

/* Medius Devices , Desktop */
@media only screen and (min-width: 992px) {
    
    
}

/* Large Devices, Wide Screen */
@media only screen and (min-width: 1200px) {
    
    
}
