

body{
	overflow-x: hidden;
	margin: 0px;
	padding: 0px;
}

/* ========== nav ========== */ 

.navbar{
	background-color: transparent;
}

.navbar-light .navbar-nav .nav-link{
	color: #fff !important
}

.navbar-light .navbar-brand{
	color: #fff!important
}
/* ==========  header ==========  */
.logo-header{
	text-align: center;
	padding-bottom: 50px;
}

.header{
	background-image: url('../img/headerbg.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
}
.header-overlay{
	background-color: rgba(31, 31, 31, 0.75)
}

.img-header img{
	width: 100%;
	height: 80%
}
.header-text h2 {
	font-size: 35px;
	line-height: 40px;
	color : #fff;
	padding-top: 30px;
	text-transform: uppercase
}

.header-text p {
	color: #fff;
	font-size: 14px;
}

.div-btn{
	padding-top: 50px;
}


.header-text a {
	padding: 10px 30px;
	font-size: 19px;
	border: 1px solid #129CF3;
	border-radius: 3px;
	text-transform: uppercase;
	text-decoration: none;
	margin-left: 10px;
}

.header-text a:hover{
	background-color: #129CF3;
	transition: 1s;
	color: #fff;
	text-decoration: none
}

/* ========== about ==========  */

.about{
	padding-top: 10px;

}
.about-header{
	text-align: center;
	padding-top: 50px;
}

.about-header hr {
	width: 10%;
	margin: auto;
	border: solid 1px #129cf3;
	border-radius: 1px;
}
.about-body{
	padding-top: 50px;
}

.about-body hr{
	width: 10%;
	border: 1px solid #129cf3;
	margin-left: 0px;
}

.about-div-icon{
	color: #129cf3;
	font-size: 50px;
	position: absolute;
	left: 0px;
	width: 90px;
	height: 90px;
	text-align: center;
	padding-top: 70px
}

.about-text-right{
	padding-left: 70px;
	padding-top: 50px;
}


/* ==========  slider ========== */
.testimonial {
    background-image: url("../img/testimonial-bg.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
.testimonial-overlay {
    background-color: rgba(31, 31, 31, .75);
    padding-top: 80px;
    padding-bottom: 80px;
}

.carousel-inner .item img {
    border: 2px solid #129CF3;
    border-radius: 50%;
    padding: 3px;
}
.testimonial-caption {
    padding-bottom: 70px;
}
.testimonial-caption h2 {
    color: #129CF3;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 30px;
    margin-top: 25px;
    
}
.testimonial-caption h4 {
    color: #129CF3;
}

.testimonial-caption h4 span {
    
    color: #D8D8D8;
    font-style: italic;
    font-weight: 300;
    
}

.testimonial-caption p {
    color: #D8D8D8;
    font-size: 18px;
    line-height: 27px;
    padding-top: 50px;
}

/* ======features======== */
.header-features{
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

.header-features hr {
	width: 10%;
	border : solid 1px #129CF3 ;
	margin: auto;
}

.img-features img{
	width: 100%;
}

.div-icon-left{
	color: #129CF3;
	font-size: 40px;
	text-align: center;
	width: 90px;
	height: 90px;
	position: absolute;
	right: 0px;
}

.div-text-left{
	position: relative;
	padding-right: 90px;
	margin-bottom: 60px;
	margin-top: 35px;
	text-align: right
}

.div-icon-right{
	font-size: 40px;
	color: #129CF3;
	width: 90px;
	height: 90px;
	position: absolute;
	left: 0px;
}

.div-text-right{
	position: relative;
	text-align: left;
	padding-left: 90px;
	margin-bottom: 60px;
	margin-top: 35px;
}

/* ========== Paecher ========== */
.Paecher{
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: #1a1a1a;
	color: #fff;
	font-size: 20px;
}

/* ==========   slider tow  ==========  */

.slider-tow{
	padding: 50px 0px;
}

.text-top-slider-tow{
	text-align: center;
	padding-bottom: 50px;
}

.text-top-slider-tow hr {
	margin: auto;
	width: 10%;
	border: 1px solid #129CF3;
}

/* ========== Display values ==========  */

.display-values{
	background-image: url('../img/counter-bg.jpg');
	background-size: cover;
	background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 50%;

}

.display-values-overlay{
	background-color: rgba(31, 31, 31, 0.5);
	padding-bottom: 100px;
	padding-top: 100px; 
	text-align: center;
	color: #fff
}

.col-3 h2{
	color: #fff;
}
.col-3 h4{
	color: #fff
}

.display-values-overlay i.icon {
	font-size: 50px;
}

/* ========== downloade ========== */

.downloade-text{
	text-align: center;
	padding-top: 50px;
}

.downloade-text hr{
	margin: auto;
	width: 10%;
	border: 1px solid #129CF3;
}

.downloade-img{
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}


/* ========== Available ========== */

.Available{
	background-color: #333;
}

.text-Available{
	padding-bottom: 50px;
	padding-top: 50px;
	color: #fff
}

.text-Available h2{
	color: #fff
}

.icon-Available i.icon{
	font-size: 50px;
}

.icon-Available a{
	text-align: center;
	padding-top: 80px;
	border-left: 1px solid black;
	text-decoration: none;

}

.icon-Available h2{
	opacity: 0;
	position: relative;
	bottom: 100px;
}

.icon-Available a:hover{
	background-color: rgba(0, 0, 0, 0.5);
	transition:all 1s;
	text-decoration: none;
	color: #fff
}

.icon-Available a:hover i.icon{
	opacity: 0;
	transition:all 1s;
}

.icon-Available a:hover h2{
	opacity: 1;
	transition:all 1s;
	color: #fff
}


/* ========== form CONTACT ========== */


.CONTACT{
	padding-top: 50px;
	padding-bottom: 50px
}
.text-CONTACT{
	text-align: center;
	padding-bottom: 50px
}

.text-CONTACT hr{
	margin: auto;
	width: 10%;
	border: 1px solid #129CF3;
}

/* ========== Social Networks ========== */

.Social-icon{
	padding-bottom: 50px;
}
.Social-icon ul{
	text-align: center;
	padding: 0px;
	margin: 0px
}

.Social-icon ul li{
	list-style: none;
	display: inline;
	padding-left: 10px;
}

.Social-icon ul li a{
	text-decoration: none;
	display: inline-block;
	text-align: center;
	width: 45px;
	height: 45px;
	border: 1px solid #9d9d9d;
	border-radius: 3px;
	color: #9d9d9d;
	line-height: 45px;
}

.Social-icon ul li a:hover{
	background-color: #007bff;
	color: #fff;
	transition: 1s
}


/* ========== footer ========== */

.footer{
	background-color: #1a1a1a;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
.footer h4{
	color: #fff
}